<div class="container-fluid">
    <div style=".name_header">
        <h1 class="text-center" style="margin-bottom:10vh; margin-top:4vh">Hi {{ name }}</h1>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h3 class="text-center">Here are your top Artists</h3>

                <div class="row">
                    {{#each details}}

                    {{#each this.artists}}
                    <div class="col-4">
                        {{this}}
                    </div>
                    {{/each}}
                    {{/each}}
                </div>

                <div class="row">
                    {{#each details}}
                    {{#each this.image}}
                    <div class="col-4">
                        <img src={{{this}}} alt="artist image" height="max" width="200">
                    </div>
                    {{/each}}
                    {{/each}}
                    {{data}}
                </div>
            </div>
            <div class="carousel-item">
                <h3 class="text-center">Here are your top Genres</h3>
                <div class="">
                    {{#each details}}
                    {{#each this.genre}}
                    <div class="col">
                        <p>{{ this.[0] }}</p>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>






</div>
</div>
</div>